* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  padding: 20px 0;
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}


.bg-lightblu {
  display: flex;
  background-color: #ADD8E7;
  justify-content: center;
}

.orange {
  background-color: #DAA61C;
  border: 3px dotted black;
  width: 25%;
  height: 50px;
  text-align: center;

}

.orange1 {
  background-color: #DAA61C;
  border: 3px dotted black;
  width: 50%;
  height: 50px;
  text-align: center;
}

.bg-blu {
  background-color: #00018B;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-small {
  border: 3px dotted black;
  background-color: #EF82ED;
  width: 600px;
  height: 200px;

}

.container {
  display: flex;
}